@import "../../node_modules/normalize.css/normalize.css"
@import "./variables.sass"

html
  font-family: $serif-font-family
  font-size: 16px
  line-height: $line-height

#container
  width: 40em
  margin-left: auto
  margin-right: auto

#blog-title
  font-family: $sans-serif-font-family
  padding-top: 4em
  padding-bottom: 4em
  line-height: $short-line-height

  #title
    a
      color: $text-color
      text-decoration: none

.entry-header
  .entry-title
    font-family: $sans-serif-font-family
    line-height: $short-line-height

    a
      color: $text-color
      text-decoration: none

  .entry-date
    a
      color: $text-color
      text-decoration: none

  .entry-categories
    a
      font-family: $sans-serif-font-family
      margin-right: 0.5em

  .entry-header-menu
    a
      font-family: $sans-serif-font-family
      margin-right: 0.5em

.entry-content
  h1, h2, h3, h4, h5, h6
    font-family: $sans-serif-font-family
    line-height: $short-line-height

  ul, ol
    padding-left: 2em

  table, th, td
    border: 1px solid $border-color
    border-collapse: collapse

  th, td
    padding-left: 0.5em
    padding-right: 0.5em

  pre, code
    font-family: $monospace-font-family

  pre
    background-color: $code-background-color
    padding: 1em
    line-height: $short-line-height

  code
    font-size: inherit
    background-color: $code-background-color
    border: none
    border-radius: 0

.entry-footer
  font-family: $sans-serif-font-family

  .leave-comment-title
    display: inline-block
    border: 1px solid $border-color
    padding: 0.5em 1em
