@import "../../node_modules/normalize.css/normalize.css"

html
  font-family: "Times New Roman", YuMincho, "Yu Mincho", serif
  font-size: 16px
  line-height: 1.8em

h1, h2, h3, h4, h5, h6
  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "Yu Gothic", sans-serif

pre, code, pre.code
  font-family: Ricty, Menlo, Consolas, monospace

#container
  width: 40em
  margin-left: auto
  margin-right: auto
