/* Colors */
$text-color: #333
$border-color: #ddd
$sub-background-color: #f7f7f7

/* Fonts */
$text-font-family: -apple-system, BlinkMacSystemFont, YuGothic, "Yu Gothic", sans-serif
$code-font-family: Ricty, Menlo, Consolas, monospace

/* Layouts */
$line-height: 1.8
$short-line-height: 1.3
